<div class="container">

<section class="container__card">
  <p-card >
    <img class="img"
    ngSrc="/assets/images/No-artificial-colors.png"

    width="70"
    height="70"
  />
    <p class="m-0">
      {{ description }}
    </p>
  </p-card>
</section>

<section class="container__card_one">
  <p-card >
    <img class="img"
    ngSrc="/assets/images/Icon-swap.png"

    width="70"
    height="70"
  />
    <p class="m-0">
        {{ descriptionOne }}
    </p>
  </p-card>
</section>

<section class="container__card_two">
  <p-card >
    <img class="img"
    ngSrc="/assets/images/no-syntethic-colors.png"

    width="70"
    height="70"
  />
    <p class="m-0">
        {{ descriptionTwo }}
    </p>
  </p-card>
</section>

<section class="container__card_three">
  <p-card >
    <img class="img"
    ngSrc="/assets/images/No-artificial-colors.png"

    width="70"
    height="70"
  />
    <p class="m-0">
      {{ description }}
    </p>
  </p-card>
</section>
</div>
