
<section class="card">
  <p-card  [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img class="header__img"
      ngSrc="/assets/images/splash.png"

      width="100"
      height="200"
    />
    </ng-template>
    <p class="card__description">
        {{ description }}
    </p>
    <p class="card__price">
      {{ price }}
    </p>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <button class="card__btn">
            <i class="pi pi-shopping-cart"></i>
            {{ cart }}
          </button>
        </div>
    </ng-template>
  </p-card>

</section>

