@import '../../../../scss/vars';

@mixin style {

  // width: 710px;
  width: 490px;
  height: 300px;
  margin: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: $font-size-paragraph-two;
}

@mixin boton {
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    font-family: $font-family;
    font-weight: 600;
    font-size: $font-size-paragraph-one;
    color: $background-color;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

@mixin title {
    font-size: $font-size-heading-two;
    font-family: $font-family;
    margin-left: 30px;
}

@mixin description {
    font-family: $font-family;
    font-size: $font-size-paragraph-one;
    font-weight: 500;
    margin-left: 15px;
}

.card {
  @include style;
  background: linear-gradient(to right, $background-color-mid, $background-color-mid, $background-color-mid, #00ced1);

  &__btn {
    @include boton;
    background-color: $boton-color-two;
  }

  &__title {
    @include title;
    color: $background-color;
  }

  &__description {
    @include description;
    color: $background-color;

  }
}

.card_two {
  @include style;
  background: linear-gradient(to right, $background-color-mid-two, $background-color-mid-two, $background-color-mid-two, #87cefa);

  &__description_two {
    @include description;
    color: $font-color-card;
  }

  &__btn_two {
    @include boton;
    background-color: $boton-color;
  }

  &__title_two {
    @include title;
    color: $font-color-card;

  }
}

.img {
  float: right;
  width: 170px;
  height: 140px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container app-card {
   flex: 1 1 100%;
   margin: 10px;
 }

@media (min-width: 681px) {
  .card app-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .card app-card {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    gap: 1px;
  }

}
