$font-color : #494961;
$font-color-two : #121216;
$font-color-card : #000000;
$font-color-t : #F1F2F4;
$boton-color: #405741;
$boton-color-two: #9ACB6B;
$background-color : #ffffff;
$background-color-footer : #F1F2F4;
$background-color-mid: #008080;
$background-color-mid-two: #b0e0e6;
$color-border: #A8A9B2;

$background-color-min-one: #ffefd5;
$background-color-min-two: #f0f8ff;
$background-color-min-three: #f0f8ff;
$background-color-min-four: #f5f5f5;

$font-size-heading-one : 52px;
$font-size-heading-two : 44px;
$font-size-subtitle : 20px;
$font-size-paragraph-one : 16px;
$font-size-paragraph-two : 14px;
$font-size-caption : 12px;



$font-family : Poppins;
